
.profile-cards{
    flex-direction: row;
    justify-content: space-evenly;
}

.col-md-5{
    margin: 05px;
}

.card {
    background: #FFFFFF;
    border: 0.634783px solid rgba(189, 189, 189, 0.6);
    border-radius: 12.7px;
    box-shadow: 0px 5.13419px 5.13419px rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 10px;
}   

.card-title {
    font-weight:bold;
    color: rgb(14, 14, 66);
}

@media