@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
* {
  --blue: #004DBE;
  --gray: #EDF3F8;
  font-family: 'Lato', sans-serif;
}

select {
  margin: 5px;
}

.blue {
  background-color: var(--blue);
}

.gray {
  background-color: var(--gray);
}

mr-2 {
  margin-right: 10px !important;
}

.title {
  text-align: center;
  font-weight: bold;
  margin: 40px 0px;
}

.btn-block {
  width: 100%;
}

select {
  margin: 5px 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}
