@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  --blue: #004DBE;
  --gray: #EDF3F8;
  font-family: 'Roboto', sans-serif;
}

select {
  margin: 5px;
}

.blue {
  background-color: var(--blue);
}

.gray {
  background-color: var(--gray);
}

